.product-container {
  .cart-product {
    width: 50%;
  }

  .cart-product {
    margin: 0 auto;
  }

  .plus-quantity {
    margin-right: 15px;
  }

  .minus-quantity {
    margin-left: 15px;
  }

  .price {
    font-size: 20px;
    color: red;
  }

  .product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}
